@import "../node_modules/normalize.css/normalize.css";

* {
  font-family: Helvetica, Arial, sans-serif;
}

.search {
  padding: 20px;
  background: #900c3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > input {
  width: 50%;
  height: 30px;
  border: none;
  padding: 0 20px;
  font-size: 1.1rem;
  border-radius: 0;
  -webkit-border-radius: 0;
}

.search > button {
  height: 30px;
  border: none;
  padding: 0 20px;
  background: #ffc300;
  color: #900c3f;
  font-size: 1.1rem;
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .search > input {
    width: 70%;
  }
}

.info {
  font-size: 1.1rem;
  margin: 20px;
}

.info img {
  width: 100px;
  margin: 20px;
}

.icon-container {
  display: flex;
  background: #ffc300;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

img {
  max-width: 100%;
  max-height: 60vh;
}

figure {
  margin: 0;
}

figure figcaption {
  margin-top: 10px;
  padding: 10px;
  background: #ffc30021;
}

figure.current {
  opacity: 1;
  height: auto;
  transition: opacity 1s ease-out;
}

figure.hidden {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 1s ease-out;
  position: absolute;
}

.sorry {
  font-size: 1.1em;
  text-align: center;
  margin: 20px;
}

.hide {
  display: none;
}

.textCenter {
  text-align: center;
}

.loader {
  border: 16px solid #ffc30021;
  border-radius: 50%;
  border-top: 16px solid #ffc300;
  border-bottom: 16px solid #900c3f;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
